# 1Q) Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only. Input Format: The first line of the input contains an email address. Output Format: Print the company name in a single line. Example; Input: john@google.com Output: google.

In [1]:
mail=input("Enter your mail?")
a=mail.index('@')
print(mail[a+1:len(mail)-4])

Enter your mail? john@google.com
google

# 2Q) Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Input Format: The first line of input contains words separated by the comma. Output Format: Print the sorted words separated by the comma. Example: Input: without,hello,bag,world Output: bag,hello,without,world

In [3]:
li=input().split(',')
print(li)

without,hello,bag,world
['without', 'hello', 'bag', 'world']

# 3Q) Sets

A set is a unordered collected of elements whic does not allow duplicate elements

In [4]:
set_example={'arun','ganesh','arun','shiva'}
print(set_example)

{'arun', 'ganesh', 'shiva'}

There are several methods in sets like 
add()-Adds a single element to a existing set,
len()-determines the number of items in a set,
remove()-removes a particular item from a set,
pop()-removes last element from a set,
clear()-this method empties the total set.

In [6]:
set_example.add("james")
print(set_example)
print(len(set_example))
set_example.remove("james")
print(set_example)
set_example.pop()
print(set_example)
set_example.clear()
print(set_example)

{'arun', 'ganesh', 'shiva', 'james'}
4
{'arun', 'ganesh', 'shiva'}
{'ganesh', 'shiva'}
set()

# 4Q) Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. Input Format: The first line contains n-1 numbers with each number separated by a space. Output Format: Print the missing number Example: Input: 1 2 4 6 3 7 8 Output: 5 Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [15]:
num=list(map(int,input().split()))
nmap={}
maxi=len(num)
for i in num:
    if i not in nmap:
        nmap[i]=1
for i in range(1,maxi+1):
    if i not in nmap:
        print(i)

1 2 4 6 3 7 8
5

# 5Q) With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. Example: If the input list is 12 24 35 24 88 120 155 88 120 155 Then the output should be 12 24 35 88 120 155 Explanation: Third, the seventh and ninth element of the list L has been removed because it was already present. Input Format: In one line take the elements of the list L with each element separated by a space. Output Format: Print the elements of the modified list in one line with each element separated by a space. Example: Input: 12 24 35 24 Output: 12 24 35

In [19]:
li=input().split()
li2=[]
for i in li:
    if i not in li2:
        li2.append(i)
for i in li2:
    print(i,end=" ")

12 24 35 24
12 24 35